@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: 'Coolvetica';
  src: local('Coolvetica'),
    url('./Coolvetica/coolvetica rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}